<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Registro</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Registro de Usuario</h1>
        
        <form th:action="@{/auth/register}" method="post">
            <div>
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" placeholder="Ingrese su nombre de usuario" required>
            </div>
            
            <div>
                <h3>Recomendaciones para una contraseña segura:</h3>
                <ul>
                    <li>Use al menos 8 caracteres</li>
                    <li>Combine letras mayúsculas y minúsculas</li>
                    <li>Incluya números y símbolos (ej. @, #, $)</li>
                    <li>Evite información personal fácil de adivinar</li>
                    <li>Ejemplo: Eco$2025@Solicitud</li>
                </ul>
            </div>
            
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Ingrese una contraseña segura" required>
            </div>
            
            <button type="submit">Registrarse</button>
        </form>
        
        <p>¿Ya tienes una cuenta? <a th:href="@{/auth/login}">Inicia sesión aquí</a></p>
</div>
</body>
</html>
